<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">


    <title>Facebook - Đăng nhập hoặc đăng ký</title>
  <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <nav class="navbar justify-content-center">
      <a href="#">
        <img src="img/logo.png" width="104" height="20">
      </a>
    </nav>

    <div class="pt-3 pb-4 form-container">
      <div class="d-flex flex-column formclass">
        <input type="text" id="inputUsername" placeholder="Số di động hoặc email">
        <input type="password"  id="inputPass" placeholder="Mật khẩu">
        <button class="btn btn-dangnhap mt-3">Đăng nhập</button>
        <p class="text-divider"><span>hoặc</span></p>
        <button class="btn btn-dangky">Tạo tài khoản mới</button>
        <div class="mt-3 d-flex justify-content-center quenmk">
          <a href="#">Quên mật khẩu?</a>
          <a href="#">Trung tâm trợ giúp</a>
        </div>
      </div>
    </div>
    <div class="row text-center language">
      <div class="col d-flex flex-column">
        <a href="#" class="primarylg">Tiếng Việt</a>
        <a href="#">中文(台灣)</a>
        <a href="#">Español</a>
        <a href="#">Français (France)</a>
      </div>
      <div class="col d-flex flex-column">
        <a href="#">English (UK)</a>
        <a href="#">한국어</a>
        <a href="#">Português (Brasil)</a>
        <a href="#" class="morelg">+</a>
      </div>
    </div>
    <div class="row text-center copyright">
      <div class="col">
        Facebook ©2018
      </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>
